<div id="preloader" class="preloader flex col align--center justify--center gap--2">
    <svg class="preloader__icon" xmlns="http://www.w3.org/2000/svg" width="68" height="68" viewBox="0 0 68 68" fill="none">
        <path d="M38.7113 45.4466L67.7316 16.3267L51.8726 0.413254L22.8534 29.5321L22.8532 0.400201L0.424805 0.400024V45.82C0.424805 49.8009 2.00075 53.619 4.806 56.4342L11.901 63.5543C14.7068 66.3698 18.5123 67.9517 22.4804 67.9517L67.7466 67.9512L67.7468 45.4464L38.7113 45.4466Z" fill="white"/>
    </svg>
    <svg class="preloader__text" xmlns="http://www.w3.org/2000/svg" width="68" height="11" viewBox="0 0 68 11" fill="none">
        <path d="M5.16695 4.62165L3.82761 4.46342C2.62627 4.30503 2.02613 3.8353 2.02613 3.05372C2.02613 2.54713 2.23356 2.14321 2.64789 1.84211C3.06223 1.54119 3.60964 1.39073 4.29011 1.39073C5.01278 1.39073 5.57091 1.54383 5.96415 1.85004C6.3574 2.15643 6.60684 2.63162 6.71337 3.27544H8.27561C8.1798 2.28308 7.77847 1.5015 7.07198 0.93141C6.64604 0.587804 6.13239 0.360619 5.55035 0.224094C5.16642 0.133959 4.75824 0.0759277 4.30611 0.0759277C3.82674 0.0759277 3.39904 0.13343 3.00123 0.224094C2.41989 0.356562 1.91485 0.573871 1.5079 0.899661C0.822324 1.44876 0.479887 2.19312 0.479887 3.13292C0.479887 3.96707 0.745504 4.62694 1.27674 5.11271C1.80815 5.59849 2.57846 5.89923 3.58854 6.01529L4.99169 6.17369C6.27741 6.32186 6.92062 6.82298 6.92062 7.67846C6.92062 8.18505 6.71583 8.58651 6.30659 8.88214C5.89718 9.17776 5.35839 9.3254 4.68845 9.3254C3.88088 9.3254 3.25894 9.16966 2.82316 8.85833C2.3872 8.54701 2.11086 8.06899 1.99449 7.42482H0.399902C0.506431 8.39637 0.934301 9.17495 1.68369 9.76092C2.4329 10.3469 3.42928 10.64 4.67281 10.64C5.43784 10.64 6.10479 10.5159 6.67364 10.2679C7.24161 10.0198 7.68302 9.67149 7.99645 9.22258C8.30988 8.77384 8.46704 8.24838 8.46704 7.64671C8.46704 5.88371 7.3666 4.87512 5.16695 4.62165Z" fill="white"/>
        <path d="M12.5639 0.342102H11.0337V2.42155H9.63037V3.71749H11.0337V8.21259C11.0337 8.99117 11.2431 9.55385 11.6628 9.90028C12.0828 10.2471 12.5905 10.4201 13.1855 10.4201H13.9666V9.06049H13.3608C13.1268 9.06049 12.9354 8.98852 12.7868 8.84423C12.6381 8.7003 12.5638 8.42037 12.5638 8.00445V3.71749H13.9664V2.42155H12.5638L12.5639 0.342102Z" fill="white"/>
        <path d="M20.6144 7.21334C20.6144 7.80107 20.4284 8.27908 20.0563 8.64756C19.6841 9.01604 19.2271 9.20036 18.6853 9.20036C18.1113 9.20036 17.6573 9.03773 17.3224 8.71158C16.9873 8.38562 16.8202 7.85416 16.8202 7.11703V2.42138H15.2739V7.43753C15.2739 8.47399 15.5452 9.26703 16.087 9.81736C16.6289 10.3677 17.3143 10.6425 18.1435 10.6425C18.6006 10.6425 19.0544 10.5167 19.5064 10.2659C19.9578 10.0149 20.3275 9.65985 20.6144 9.20018V10.4342H22.1452V2.4212H20.6144V7.21334Z" fill="white"/>
        <path d="M34.421 0.0679932H32.874V1.3738H34.421V0.0679932Z" fill="white"/>
        <path d="M34.421 2.4201H32.874V10.4215H34.421V2.4201Z" fill="white"/>
        <path d="M56.0964 0.0813914L56.1014 0.0759277H54.1406L54.136 0.0813914L49.7724 5.24782V0.0813914V0.0759277H48.2422V0.0813914V10.4199H49.7724V7.15759L50.7291 5.99571L54.4911 10.4199H56.3564L51.7973 5.07285L56.0964 0.0813914Z" fill="white"/>
        <path d="M61.6488 2.14992C61.1708 2.14992 60.7008 2.27639 60.2381 2.5288C59.7756 2.78139 59.4014 3.13875 59.1141 3.60089V0.0761108H57.5679V10.4199H59.1141V5.53517C59.1141 4.97655 59.3054 4.51441 59.6881 4.14876C60.0708 3.78363 60.5433 3.60071 61.1069 3.60071C61.7021 3.60071 62.1725 3.76176 62.5176 4.0842C62.863 4.40664 63.0358 4.92258 63.0358 5.63184V10.4199H64.582V5.3094C64.582 4.28863 64.3057 3.5067 63.7534 2.96395C63.2007 2.4212 62.4991 2.14992 61.6488 2.14992Z" fill="white"/>
        <path d="M29.7015 3.79439C29.4248 3.27616 29.0581 2.87435 28.6012 2.58824C28.144 2.30232 27.6233 2.15926 27.0388 2.15926C26.3587 2.15926 25.7607 2.33477 25.2454 2.68543C24.7302 3.03627 24.3289 3.52716 24.0421 4.15864C23.7549 4.79011 23.6118 5.53235 23.6118 6.38484C23.6118 7.23768 23.7549 7.98258 24.0421 8.61899C24.329 9.25611 24.7302 9.75245 25.2454 10.1086C25.7607 10.4649 26.3589 10.6429 27.0388 10.6429C27.6235 10.6429 28.144 10.4972 28.6012 10.2058C29.0581 9.91438 29.4248 9.50957 29.7015 8.99169L29.7013 10.415H31.2476V0.0761108H29.7013L29.7015 3.79439ZM29.1114 8.49762C28.7181 8.99945 28.16 9.25045 27.4373 9.25045C26.7359 9.25045 26.1884 8.99945 25.7951 8.49762C25.4019 7.9958 25.2055 7.29148 25.2055 6.38484C25.2055 5.48896 25.4019 4.79276 25.7951 4.29622C26.1884 3.80004 26.7358 3.55168 27.4373 3.55168C28.16 3.55168 28.7181 3.80004 29.1114 4.29622C29.5046 4.79276 29.7013 5.48896 29.7013 6.38484C29.7015 7.29148 29.5046 7.9958 29.1114 8.49762Z" fill="white"/>
        <path d="M41.7456 2.6738C41.1665 2.32173 40.4945 2.14569 39.7291 2.14569C38.9637 2.14569 38.2913 2.32173 37.7123 2.6738C37.1327 3.02605 36.6842 3.51871 36.3654 4.15265C36.0465 4.78641 35.8872 5.53165 35.8872 6.38732C35.8872 7.24333 36.0465 7.99104 36.3654 8.62992C36.6842 9.26933 37.1327 9.76782 37.7123 10.1252C38.2913 10.4827 38.9637 10.6614 39.7291 10.6614C40.4945 10.6614 41.1665 10.4827 41.7456 10.1252C42.3251 9.76782 42.7741 9.26951 43.093 8.62992C43.4119 7.99104 43.5711 7.24333 43.5711 6.38732C43.5711 5.53165 43.4119 4.78641 43.093 4.15265C42.7741 3.51871 42.3251 3.02588 41.7456 2.6738ZM41.3869 8.50804C40.9939 9.01181 40.4409 9.26369 39.7293 9.26369C39.0173 9.26369 38.4643 9.01181 38.071 8.50804C37.6778 8.00428 37.4814 7.29731 37.4814 6.38732C37.4814 5.48808 37.6778 4.78923 38.071 4.29076C38.4643 3.79264 39.0173 3.5434 39.7293 3.5434C40.4409 3.5434 40.9939 3.79264 41.3869 4.29076C41.7802 4.78923 41.9771 5.48791 41.9771 6.38732C41.9771 7.29731 41.7802 8.00428 41.3869 8.50804Z" fill="white"/>
        <path d="M67.772 0.0533447H66.2251V1.35915H67.772V0.0533447Z" fill="white"/>
        <path d="M67.772 2.40533H66.2251V10.4067H67.772V2.40533Z" fill="white"/>
    </svg>
</div>
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="pointer alert alert__{{ label }}">
            <a class="btn__delete">
                <button>x</button>
            </a>
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
<dropdown-react data-href='{
        "branding": "{{ path("app_service_branding") }}",
        "webdesign": "{{ path("app_service_webdesign") }}",
        "dev": "{{ path("app_service_development") }}"
        }'></dropdown-react>
<dropdown-mobile-react data-href='{
        "1": {
            "name": "Services",
            "path": "#",
            "drop": {
                "1": {
                    "name": "Branding & Direction Artistique",
                    "path": "{{ path('app_service_branding') }}"
                },
                "2": {
                    "name": "Webdesign & Design Digital",
                    "path": "{{ path('app_service_webdesign') }}"
                },
                "3": {
                    "name": "Développement Web & Sites Sur Mesure",
                    "path": "{{ path('app_service_development') }}"
                }
            }
        },
        "2": {
            "name": "Réalisations",
            "path": "{{ path("app_projects") }}"
        },
        "3": {
            "name": "FAQ",
            "path": "{{ path("app_faq") }}"
        },
        "4": {
            "name": "Studio",
            "path": "{{ path("app_studio") }}"
        },
        "5": {
            "name": "Articles",
            "path": "{{ path("app_posts") }}"
        }
        }'>
</dropdown-mobile-react>
<header class="header flex row justify--center">
    <nav class="header__nav flex row align--center justify--space-between">
        <a href="{{ path('app_index') }}">
            <svg class="header__logo" viewBox="0 0 805 100" xmlns="http://www.w3.org/2000/svg">
                <path d="M44.5839 43.1077L32.057 41.6177C20.8225 40.1252 15.209 35.7012 15.209 28.3382C15.209 23.5652 17.149 19.7608 21.0228 16.9248C24.8978 14.0914 30.0175 12.6734 36.3805 12.6734C43.1391 12.6734 48.3582 14.1162 52.0367 16.9993C55.7139 19.8849 58.0471 24.3611 59.0435 30.4266H73.6541C72.7572 21.0782 69.0051 13.7164 62.3964 8.34743C58.412 5.11167 53.6093 2.97105 48.1666 1.68469C44.5753 0.835394 40.758 0.289062 36.5304 0.289062C32.0459 0.289062 28.0468 0.830427 24.3265 1.68469C18.8899 2.93256 14.1659 4.97881 10.3597 8.04944C3.94753 13.2222 0.744538 20.2338 0.744538 29.0856C0.744538 36.9441 3.2288 43.1599 8.19731 47.7341C13.167 52.3097 20.3716 55.1431 29.8184 56.2358L42.9413 57.7283C54.9657 59.1239 60.981 63.8447 60.981 71.903C60.981 76.676 59.0656 80.4568 55.2372 83.2406C51.4089 86.0257 46.3691 87.4163 40.1044 87.4163C32.5509 87.4163 26.7359 85.9499 22.6605 83.0171C18.5828 80.0843 15.999 75.5821 14.9092 69.5141H0C0.996405 78.6651 4.99677 85.9984 12.006 91.5188C19.0128 97.0392 28.3318 99.7994 39.9606 99.7994C47.1149 99.7994 53.3525 98.6298 58.6737 96.293C63.985 93.9574 68.1143 90.6745 71.0458 86.4466C73.976 82.2188 75.4467 77.2707 75.4467 71.6026C75.4467 54.9954 65.1558 45.4954 44.5839 43.1077Z"/>
                <path d="M113.763 2.79785H99.4522V22.385H86.3281V34.5918H99.4522V76.9324C99.4522 84.2657 101.411 89.5663 105.336 92.8294C109.263 96.0949 114.012 97.7252 119.577 97.7252H126.881V84.9188H121.216C119.028 84.9188 117.238 84.2396 115.848 82.8824C114.457 81.5278 113.762 78.8905 113.762 74.9718V34.5918H126.88V22.385H113.763V2.79785Z"/>
                <path d="M189.054 67.5216C189.054 73.0569 187.316 77.5604 183.835 81.0321C180.354 84.5038 176.08 86.2396 171.013 86.2396C165.644 86.2396 161.398 84.7086 158.266 81.6368C155.133 78.5674 153.569 73.5598 153.569 66.6164V22.3848H139.107V69.6349C139.107 79.3981 141.645 86.8679 146.711 92.0518C151.779 97.2358 158.19 99.8246 165.945 99.8246C170.22 99.8246 174.464 98.6401 178.692 96.2772C182.915 93.9131 186.372 90.568 189.054 86.2384V97.8628H203.37V22.3848H189.054V67.5216Z"/>
                <path d="M318.175 0.21582H303.708V12.5157H318.175V0.21582Z"/>
                <path d="M318.175 22.3721H303.708V97.7408H318.175V22.3721Z"/>
                <path d="M520.895 0.340948L520.94 0.290039H502.603L502.56 0.340948L461.749 49.0066V0.340948V0.290039H447.438V0.340948V97.7243H461.749V66.9957L470.697 56.0518L505.881 97.7243H523.326L480.688 47.3576L520.895 0.340948Z"/>
                <path d="M572.826 19.8251C568.355 19.8251 563.959 21.0158 559.633 23.3936C555.307 25.7739 551.808 29.1388 549.121 33.492V0.290039H534.659V97.7243H549.121V51.7134C549.121 46.4512 550.911 42.098 554.49 38.6536C558.069 35.2142 562.49 33.492 567.759 33.492C573.325 33.492 577.726 35.0081 580.953 38.0464C584.185 41.0835 585.8 45.9446 585.8 52.6248V97.7256H600.262V49.5864C600.262 39.971 597.678 32.6067 592.512 27.4923C587.34 22.3817 580.778 19.8251 572.826 19.8251Z"/>
                <path d="M274.04 35.316C271.452 30.4351 268.023 26.6492 263.75 23.9536C259.474 21.2604 254.605 19.9132 249.138 19.9132C242.777 19.9132 237.184 21.5659 232.365 24.8687C227.546 28.174 223.793 32.7979 221.111 38.7455C218.425 44.693 217.086 51.6861 217.086 59.7159C217.086 67.7482 218.425 74.7648 221.111 80.7608C223.793 86.7617 227.546 91.4378 232.365 94.7915C237.184 98.1478 242.777 99.824 249.138 99.824C254.605 99.824 259.474 98.452 263.75 95.7066C268.023 92.9613 271.452 89.1494 274.04 84.2697L274.037 97.6772H288.499V0.290039H274.037L274.04 35.316ZM268.521 79.6185C264.843 84.3455 259.624 86.7096 252.864 86.7096C246.304 86.7096 241.184 84.3455 237.507 79.6185C233.829 74.8915 231.993 68.256 231.993 59.7171C231.993 51.2788 233.829 44.7204 237.507 40.0443C241.184 35.3694 246.305 33.0301 252.864 33.0301C259.623 33.0301 264.842 35.3694 268.521 40.0443C272.198 44.7216 274.038 51.2788 274.038 59.7171C274.04 68.256 272.199 74.8902 268.521 79.6185Z"/>
                <path d="M386.68 24.7602C381.264 21.445 374.978 19.7861 367.82 19.7861C360.663 19.7861 354.373 21.445 348.958 24.7602C343.537 28.0779 339.344 32.7193 336.362 38.6904C333.38 44.6603 331.89 51.6794 331.89 59.7403C331.89 67.8036 333.379 74.8463 336.362 80.8646C339.345 86.8879 343.538 91.5826 348.958 94.9488C354.373 98.3174 360.663 99.9999 367.82 99.9999C374.978 99.9999 381.264 98.3174 386.68 94.9488C392.1 91.5826 396.299 86.8879 399.28 80.8646C402.263 74.8463 403.752 67.8036 403.752 59.7403C403.752 51.6794 402.263 44.6603 399.28 38.6904C396.299 32.7193 392.1 28.0779 386.68 24.7602ZM383.326 79.7161C379.65 84.4617 374.477 86.8345 367.822 86.8345C361.163 86.8345 355.99 84.4617 352.313 79.7161C348.636 74.9705 346.799 68.3115 346.799 59.739C346.799 51.2684 348.636 44.6864 352.313 39.9917C355.99 35.2994 361.163 32.9515 367.822 32.9515C374.477 32.9515 379.65 35.2994 383.326 39.9917C387.003 44.6864 388.844 51.2684 388.844 59.739C388.844 68.3115 387.003 74.9705 383.326 79.7161Z"/>
                <path d="M630.087 0.078125H615.62V12.378H630.087V0.078125Z"/>
                <path d="M630.087 22.2324H615.62V97.6012H630.087V22.2324Z"/>
                <path d="M762.685 65.2902L804.448 23.0837L781.625 0.0186241L739.864 42.2239V0H707.588V65.8328C707.588 71.6028 709.856 77.1369 713.893 81.217L724.103 91.5364C728.14 95.6178 733.617 97.9099 739.328 97.9099L804.469 97.9086V65.2902H762.685Z"/>
            </svg>
        </a>
        <div class="flex row gap--8 hide-mobile">
            <menu-item-react class="dropdown-link" data-id="dropdown" data-content="Services" data-href="#" data-active=""></menu-item-react>
            <menu-item-react data-content="Réalisations" data-href="{{ path('app_projects') }}" data-active=""></menu-item-react>
            <menu-item-react data-content="FAQ" data-href="{{ path('app_faq') }}" data-active=""></menu-item-react>
            <menu-item-react data-content="Studio" data-href="{{ path('app_studio') }}" data-active=""></menu-item-react>
            <menu-item-react data-content="Articles" data-href="{{ path('app_posts') }}" data-active=""></menu-item-react>
        </div>
        <button-react class="hide-mobile" data-href="{{ path('app_contact') }}" data-content="Contact" data-color="light"></button-react>
        <menu-icon-react class="display-mobile" data-id="header"></menu-icon-react>
    </nav>
</header>