<div id="form" class="container flex row col-mobile gap--8 align--start justify--start">
    {{ form_start(form, {'attr': {'class': 'w--100 flex col gap--8'}}) }}
    <div class="flex col gap--1">
        {{ form_label(form.slug) }}
        {{ form_widget(form.slug) }}
        <div class="errors">
            {{ form_errors(form.slug) }}
        </div>
    </div>
    <div class="flex col gap--1">
        <div class="flex col gap--1">
            <label class="form-label">Image à la une</label>
            {{ form_label(form.image) }}
            {{ form_widget(form.image) }}
            <div class="errors">
                {{ form_errors(form.image) }}
            </div>
        </div>
    </div>
    <div class="flex col gap--1">
        {{ form_label(form.is_homepage) }}
        <div class="form-check">
        {{ form_widget(form.is_homepage) }}
        <label></label>
        </div>
        <div class="errors">
            {{ form_errors(form.is_homepage) }}
        </div>
    </div>
    <div class="flex col gap--1">
        {{ form_label(form.tag) }}
        {{ form_widget(form.tag) }}
        <div class="errors">
            {{ form_errors(form.tag) }}
        </div>
    </div>
    <div class="w--100">
        <div class="flex col gap--4">
            <div class="flex col gap--1">
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
                <div class="errors">
                    {{ form_errors(form.name) }}
                </div>
            </div>
            <div class="flex col gap--1">
                {{ form_label(form.content) }}
                {{ form_widget(form.content) }}
                <div class="errors">
                    {{ form_errors(form.content) }}
                </div>
            </div>
        </div>
    </div>
    {{ form_widget(form.save) }}
    {{ form_end(form) }}
    <div class="flex col gap--8">
        {% if post is defined and post.image != null %}
            <div class="flex col gap--4">
                <p class="text__s">Image à la une</p>
                <div class="relative w-fit-content">
                    <form class="btn__delete" action="{{ path('app_admin_post_image_delete', {id: post.id}) }}#form"
                          method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit">x</button>
                    </form>
                    <img width="150"
                         src="{{ asset('uploads/posts/featured/thumbnails/') ~ post.image }}"
                         alt="">
                </div>
            </div>
        {% endif %}
    </div>
</div>
<div class="container__large secondary-beige--bg">
    <div class="container flex col align--center justify--center gap--11 text-center">
        <button-react data-href="{{ path('app_admin_post_index') }}" data-content="Retour"></button-react>
    </div>
</div>