{% extends 'base.html.twig' %}

{% block title %}
    Développement Web & Sites Sur Mesure - {{ parent() }}
{% endblock %}

{% block meta %}
    <meta name="description" content="Nous développons des sites web sur mesure qui rehaussent la présence en ligne de votre marque. Grâce à notre expertise technique, nous transformons vos idées en réalité digitale. Avec nous, votre site sera fonctionnel, sécurisé, performant et parfaitement adapté à vos besoins.">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:title" content="Développement Web & Sites Sur Mesure - Studio Khi" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Nous développons des sites web sur mesure qui rehaussent la présence en ligne de votre marque. Grâce à notre expertise technique, nous transformons vos idées en réalité digitale. Avec nous, votre site sera fonctionnel, sécurisé, performant et parfaitement adapté à vos besoins." />
    <meta property="og:url" content="https://studiokhi.com{{ path('app_service_development') }}" />
    <meta property="og:image" content="{{ asset('build/images/logos/apple-icon.svg') }}" />
    <meta property="og:image:secure_url" content="{{ asset('build/images/logos/apple-icon.svg') }}" />
    <meta property="og:image:width" content="152" />
    <meta property="og:image:height" content="152" />
    <meta property="og:site_name" content="Studio Khi" />
{% endblock %}

{% block body %}
    <section class="container__large secondary-violet--bg">
        <div class="container">
            <div class="flex col gap--16 pb--20">
                <div class="flex col gap--3">
                    <p class="text__l">03</p>
                    <h1>Développement Web & <br> Sites Sur Mesure</h1>
                </div>
                <div class="flex row justify--end">
                    <div class="w--60 w-100-mobile flex col align--start justify--start gap--11">
                        <p class="w--80 w-100-mobile text__m">
                            Nous développons des sites web sur mesure qui rehaussent la présence en ligne de votre
                            marque. Grâce à notre expertise technique, nous transformons vos idées en réalité digitale.
                            Avec nous, votre site sera fonctionnel, sécurisé, performant et parfaitement adapté à vos
                            besoins.
                        </p>
                        <button-react data-content="Commander votre site web"
                                      data-href="{{ path('app_contact') }}"></button-react>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container flex row col-mobile gap-small-mobile">
        <div class="w--40 w-100-mobile">
            <p class="text__l w--80 w-100-mobile">
                Développer un site web sur mesure qui répond parfaitement à vos besoins et vos envies.
            </p>
        </div>
        <div class="w--60 w-100-mobile flex col align--start justify--start gap--5">
            <div class="flex col gap--5 w--100 primary-light primary-dark--bg p--5 border-rounded">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="32" height="32" fill="#191919"/>
                    <path d="M31.3601 0.587891H0.587891V31.3089H31.3601V0.587891Z" stroke="#191919" stroke-width="5"
                          stroke-miterlimit="10"/>
                    <path d="M17.469 19.6706L26.9203 10.1869L21.7554 5.00431L12.3045 14.4876L12.3044 5.00006L5 5V19.7922C5 21.0887 5.51325 22.3322 6.42685 23.249L8.73754 25.5679C9.65131 26.4848 10.8907 27 12.183 27L26.9251 26.9998L26.9252 19.6706L17.469 19.6706Z"
                          fill="white"/>
                </svg>
                <p class="text__l">
                    Site Vitrine
                </p>
                <p class="text__m primary-grey">
                    Un site vitrine est votre carte de visite en ligne. Il offre une première impression de votre
                    entreprise, de vos produits ou services. C'est une vitrine virtuelle qui attire l'attention sur ce
                    que vous avez de mieux à offrir, incitant les visiteurs à en découvrir davantage ou à vous contacter
                    directement.
                </p>
            </div>
            <div class="flex col gap--5 w--100 primary-light primary-dark--bg p--5 border-rounded">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="32" height="32" fill="#191919"/>
                    <path d="M31.3601 0.587891H0.587891V31.3089H31.3601V0.587891Z" stroke="#191919" stroke-width="5"
                          stroke-miterlimit="10"/>
                    <path d="M17.469 19.6706L26.9203 10.1869L21.7554 5.00431L12.3045 14.4876L12.3044 5.00006L5 5V19.7922C5 21.0887 5.51325 22.3322 6.42685 23.249L8.73754 25.5679C9.65131 26.4848 10.8907 27 12.183 27L26.9251 26.9998L26.9252 19.6706L17.469 19.6706Z"
                          fill="white"/>
                </svg>
                <p class="text__l">
                    Site E-Commerce
                </p>
                <p class="text__m primary-grey">
                    Votre site e-commerce est votre boutique en ligne ouvert 24 heures sur 24, 7 jours sur 7, qui permet
                    à vos visiteurs de découvrir vos produits, d'ajouter des articles à leur panier et de passer
                    commande en quelques clics. C'est une plateforme dynamique qui facilite les transactions en ligne,
                    offrant une expérience d'achat pratique et sécurisée à vos clients.
                </p>
            </div>
            <div class="flex col gap--5 w--100 primary-light primary-dark--bg p--5 border-rounded">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="32" height="32" fill="#191919"/>
                    <path d="M31.3601 0.587891H0.587891V31.3089H31.3601V0.587891Z" stroke="#191919" stroke-width="5"
                          stroke-miterlimit="10"/>
                    <path d="M17.469 19.6706L26.9203 10.1869L21.7554 5.00431L12.3045 14.4876L12.3044 5.00006L5 5V19.7922C5 21.0887 5.51325 22.3322 6.42685 23.249L8.73754 25.5679C9.65131 26.4848 10.8907 27 12.183 27L26.9251 26.9998L26.9252 19.6706L17.469 19.6706Z"
                          fill="white"/>
                </svg>
                <p class="text__l">
                    SEO & Référencement Naturel
                </p>
                <p class="text__m primary-grey">
                    Nous optimisons votre site pour les moteurs de recherche afin que votre entreprise soit facilement
                    trouvée par ceux qui la recherchent. Le SEO (ou référencement naturel) désigne l'ensemble des
                    techniques visant à améliorer votre visibilité en ligne.
                </p>
            </div>
            <div class="flex col gap--5 w--100 primary-light primary-dark--bg p--5 border-rounded">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="32" height="32" fill="#191919"/>
                    <path d="M31.3601 0.587891H0.587891V31.3089H31.3601V0.587891Z" stroke="#191919" stroke-width="5"
                          stroke-miterlimit="10"/>
                    <path d="M17.469 19.6706L26.9203 10.1869L21.7554 5.00431L12.3045 14.4876L12.3044 5.00006L5 5V19.7922C5 21.0887 5.51325 22.3322 6.42685 23.249L8.73754 25.5679C9.65131 26.4848 10.8907 27 12.183 27L26.9251 26.9998L26.9252 19.6706L17.469 19.6706Z"
                          fill="white"/>
                </svg>
                <p class="text__l">
                    Fonctionnalités Sur Mesure
                </p>
                <p class="text__m primary-grey">
                    Qu’il s’agisse d’ajouter une ligne de code à vos pages ou d’intégrer des outils tiers à votre site,
                    personnalisez-le avec des fonctionnalités sur mesure conçues spécifiquement pour répondre aux
                    besoins uniques de votre entreprise.
                </p>
            </div>
            <div class="flex col gap--5 w--100 primary-light primary-dark--bg p--5 border-rounded">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="32" height="32" fill="#191919"/>
                    <path d="M31.3601 0.587891H0.587891V31.3089H31.3601V0.587891Z" stroke="#191919" stroke-width="5"
                          stroke-miterlimit="10"/>
                    <path d="M17.469 19.6706L26.9203 10.1869L21.7554 5.00431L12.3045 14.4876L12.3044 5.00006L5 5V19.7922C5 21.0887 5.51325 22.3322 6.42685 23.249L8.73754 25.5679C9.65131 26.4848 10.8907 27 12.183 27L26.9251 26.9998L26.9252 19.6706L17.469 19.6706Z"
                          fill="white"/>
                </svg>
                <p class="text__l">
                    Formation & Maintenance
                </p>
                <p class="text__m primary-grey">
                    Nous sommes là pour vous accompagner même après le lancement de votre site. Profitez de notre
                    formation personnalisée pour apprendre à gérer votre plateforme en toute autonomie, ainsi que de
                    notre service de maintenance pour assurer le bon fonctionnement continu de votre site.
                </p>
            </div>
        </div>
    </section>
    <section class="container__large border--top border-stroke-light">
        <div class="container flex col gap--16 align--center justify--center">
            <div class="flex row col-mobile gap-small-mobile">
                <p class="text__l w--40 w-100-mobile">
                    Notre savoir-faire
                </p>
                <div class="w--60 w-100-mobile flex col align--start justify--start gap--11">
                    <h3 class="w--80 w-100-mobile">
                        Nous développons nos sites en suivant les meilleures pratiques web.
                    </h3>
                </div>
            </div>
            <div class="w--100 grid grid--3 grid-gap--11 grid--1-mobile">
                <div class="flex col gap--5">
                    <p>
                        Technologies à la pointe
                    </p>
                    <p class="primary-grey">
                        Pour vous offrir des sites web à la fois performants et évolutifs, nous nous tenons à jour sur
                        les dernières avancées technologiques en matière de développement. Nous maîtrisons aussi bien
                        les langages de programmation (PHP, JavaScript, HTML, CSS, React, Symfony) que les CMS les plus
                        populaires (WordPress, Shopify, etc.).
                    </p>
                </div>
                <div class="flex col gap--5">
                    <p>
                        Simplicité d’utilisation
                    </p>
                    <p class="primary-grey">
                        Nous vous accompagnons afin que vous ayez toutes les clés pour modifier facilement votre site.
                        Notre approche de conception est axée sur la simplicité. Nous croyons qu'un site web efficace
                        doit être simple à prendre en main, tant pour vous que pour vos visiteurs. Nous nous efforçons
                        donc de créer des interfaces intuitives et accessibles.
                    </p>
                </div>
                <div class="flex col gap--5">
                    <p>
                        Site 100% optimisé
                    </p>
                    <p class="primary-grey">
                        En concevant des sites sur mesure, nous utilisons les meilleures pratiques web pour un bon
                        référencement et de bonnes performances. Nos sites sont non seulement personnalisés, mais
                        également entièrement adaptables et scalables pour faire évoluer votre site en même temps que
                        votre entreprise.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="container__large primary-dark--bg">
        <div class="container pt--3 pb--3 grid grid--7 grid--3-mobile grid-gap--4">
            <div class="flex row justify--center">
                <img src="{{ asset('build/images/icons/tools/web/wordpress.svg') }}" alt="">
            </div>
            <div class="flex row justify--center">
                <img src="{{ asset('build/images/icons/tools/web/symfony.svg') }}" alt="">
            </div>
            <div class="flex row justify--center">
                <img src="{{ asset('build/images/icons/tools/web/react.svg') }}" alt="">
            </div>
            <div class="flex row justify--center">
                <img src="{{ asset('build/images/icons/tools/web/shopify.svg') }}" alt="">
            </div>
            <div class="flex row justify--center">
                <img src="{{ asset('build/images/icons/tools/web/css3.svg') }}" alt="">
            </div>
            <div class="flex row justify--center">
                <img src="{{ asset('build/images/icons/tools/web/html5.svg') }}" alt="">
            </div>
            <div class="flex row justify--center">
                <img src="{{ asset('build/images/icons/tools/web/javascript.svg') }}" alt="">
            </div>
        </div>
    </section>
    <section class="container__large secondary-violet--bg">
        <div class="container flex row col-mobile align--end justify--space-between align--center-mobile gap-large-mobile">
            <h3 class="w--50 w-100-mobile text-center-mobile">Vous souhaitez connaître nos tarifs ? </h3>
            <button-react data-content="Accéder aux tarifs" data-href="{{ path('app_prices') }}"></button-react>
        </div>
    </section>
    <section class="container flex row col-mobile gap-large-mobile">
        <p class="text__l w--40 w-100-mobile">
            FAQ
        </p>
        <div class="w--60 w-100-mobile flex col align--start justify--start">
            {% for key, faq in faqs %}
                <faq-react class="w--100" data-id="{{ key }}" data-title="{{ faq.question }}"
                           data-content="{{ faq.answer }}"></faq-react>
            {% endfor %}
        </div>
    </section>
    <section class="container__large primary-light primary-dark--bg">
        <div class="container flex col gap--16">
            <div class="flex row col-mobile align--end justify--space-between align--center-mobile gap-large-mobile">
                <h3 class="w--50 w-100-mobile text-center-mobile">Une agence à 360° <br>pour tout votre site</h3>
                <button-react data-color="light" data-content="Contacter le studio"
                              data-href="{{ path('app_contact') }}"></button-react>
            </div>
            <div class="w--100 grid grid--3 grid-gap--11 hide-mobile">
                <div class="flex col gap--5">
                    <p class="text__l">
                        01 <br>
                        Branding & <br>
                        Direction Artistique
                    </p>
                    <p class="primary-grey">
                        Nous créons votre image de marque en cohérence avec vos valeurs et concevons des identités web
                        pour renforcer votre présence en ligne.
                    </p>
                </div>
                <div class="flex col gap--5">
                    <p class="text__l">
                        02 <br>
                        Webdesign & <br>
                        Design Digital
                    </p>
                    <p class="primary-grey">
                        La phase de design sur Figma permet de créer une maquette de site web qui répond à vos attentes
                        tout en proposant une expérience utilisateur optimale.
                    </p>
                </div>
                <div class="flex col gap--5">
                    <p class="text__l">
                        03 <br>
                        Développement Web & <br>
                        Sites Sur Mesure
                    </p>
                    <p class="primary-grey">
                        Nous développons votre site en langage web, identique à la maquette, tout en respectant les
                        meilleures pratiques du web.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="container__large secondary-violet--bg">
        <div class="container flex col align--center justify--center gap--11 text-center">
            <h2 class="w--70 w-100-mobile">
                Prêts à nous partager votre projet ?
            </h2>
            <button-react data-href="{{ path('app_contact') }}" data-content="Demandez votre devis"></button-react>
        </div>
    </section>
{% endblock %}