{% extends 'base.html.twig' %}

{% block title %}
    Contact - {{ parent() }}
{% endblock %}

{% block meta %}
    <meta name="description" content="Vous souhaitez recevoir un devis sur mesure ? Remplissez le formulaire de contact et parlez-nous de votre projet. Nous avons hâte d'écouter votre projet.">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:title" content="Contact - Studio Khi" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Vous souhaitez recevoir un devis sur mesure ? Remplissez le formulaire de contact et parlez-nous de votre projet. Nous avons hâte d'écouter votre projet." />
    <meta property="og:url" content="https://studiokhi.com{{ path('app_contact') }}" />
    <meta property="og:image" content="{{ asset('build/images/logos/apple-icon.svg') }}" />
    <meta property="og:image:secure_url" content="{{ asset('build/images/logos/apple-icon.svg') }}" />
    <meta property="og:image:width" content="152" />
    <meta property="og:image:height" content="152" />
    <meta property="og:site_name" content="Studio Khi" />
{% endblock %}

{% block body %}

    <section class="container__large border--bottom border-stroke-light">
        <div class="container">
            <h1>Parlons de votre projet</h1>
        </div>
    </section>
    <section class="container grid grid--2 grid-gap--6 grid--1-mobile">
        <div class="h-auto flex col justify--space-between">
            <p class="text__l w--50 w-100-mobile">
                Remplissez le formulaire de contact ci-dessous et parlez-nous de votre projet.
            </p>
            <button-react class="hide-mobile" data-content="Demander un devis" data-href="#"></button-react>
        </div>
        <div>
            {{ form_start(form, {'attr': {'class': 'flex col gap--5 w-100'}}) }}
                <div class="grid grid--2 grid--1-mobile grid-gap--5">
                    <div class="flex col gap--1">
                        {{ form_label(form.lastname) }}
                        {{ form_widget(form.lastname) }}
                        <div class="errors">
                            {{ form_errors(form.lastname) }}
                        </div>
                    </div>
                    <div class="flex col gap--1">
                        {{ form_label(form.firstname) }}
                        {{ form_widget(form.firstname) }}
                        <div class="errors">
                            {{ form_errors(form.firstname) }}
                        </div>
                    </div>
                    <div class="flex col gap--1">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email) }}
                        <div class="errors">
                            {{ form_errors(form.email) }}
                        </div>
                    </div>
                    <div class="flex col gap--1">
                        {{ form_label(form.phone) }}
                        {{ form_widget(form.phone) }}
                        <div class="errors">
                            {{ form_errors(form.phone) }}
                        </div>
                    </div>
                </div>
                <div class="flex col gap--1">
                    {{ form_label(form.message) }}
                    {{ form_widget(form.message) }}
                    <div class="errors">
                        {{ form_errors(form.message) }}
                    </div>
                </div>
                <div class="flex col gap--1">
                    {{ form_widget(form.captcha) }}
                    <div class="errors">
                        {{ form_errors(form.captcha) }}
                    </div>
                </div>
                <button type="submit" class="btn btn__dark">
                    Envoyer au studio
                    <svg class="btn__icon" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.5 13.5L13.5 4.5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6.1875 4.5H13.5V11.8125" stroke-width="1.5" stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                </button>
            {{ form_end(form) }}
        </div>
    </section>
    <section class="container__large secondary-beige--bg">
        <div class="container grid grid--3 grid-gap--4 grid--1-mobile">
            <div class="flex col gap--1 text-center text-left-mobile">
                <p class="primary-grey text__s">
                    Email
                </p>
                <p class="text__m">
                    hello@studiokhi.com
                </p>
            </div>
            <div class="flex col gap--1 text-center text-left-mobile">
                <p class="primary-grey text__s">
                    Téléphone
                </p>
                <p class="text__m">
                    09 87 19 28 88
                </p>
            </div>
            <div class="flex col gap--1 text-center text-left-mobile">
                <p class="primary-grey text__s">
                    Studio
                </p>
                <p class="text__m">
                    Remote depuis les Pyrénées
                </p>
            </div>
        </div>
    </section>

{% endblock %}


