{% extends 'base.html.twig' %}

{% block title %}
    {{ post.name }} - {{ parent() }}
{% endblock %}

{% block meta %}
    <meta name="description" content="">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:locale" content="" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:description" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta property="og:image:secure_url" content="" />
    <meta property="og:image:width" content="" />
    <meta property="og:image:height" content="" />
    <meta property="og:site_name" content="" />
{% endblock %}

{% block body %}
    <section class="container__large">
        <div class="container flex col gap--16 gap-large-mobile align--start justify--start">
            <h1>{{ post.name }}</h1>
        </div>
    </section>
    <section class="container flex row col-mobile gap-small-mobile">
        <div class="flex col gap--11 text__l w--40 w-100-mobile">
            <div class="flex col gap--2">
                {% for tag in post.tag.toArray %}
                    <tag-react data-color="{{ tag.color }}" data-content="{{ tag.name }}"></tag-react>
                {% endfor %}
                <p class="text__m">Par Cynthia Jego <br> (Designer)</p>
                <p class="text__m">{{ post.updatedAt|date("d/m/Y") }}</p>
            </div>
        </div>
        <div class="w--60 w-100-mobile flex col align--start justify--start gap--11">
            {{ post.content|raw }}
        </div>
    </section>
    <section class="container__large secondary-beige--bg">
        <div class="container flex row col-mobile align--end justify--space-between align--center-mobile gap-large-mobile">
            <h3 class="w--50 w-100-mobile text-center-mobile">Vous souhaitez travailler avec nous ?</h3>
            <div class="flex row col-mobile align--center justify--center gap--5">
                <button-react data-content="Commencer votre projet" data-href="#" data-color="light"></button-react>
                <button-react data-content="Prendre contact" data-href="#"></button-react>
            </div>
        </div>
    </section>
    <section class="container flex col gap--16 gap-large-mobile align--start justify--center">
        <div class="flex row col-mobile gap-small-mobile w--100">
            <p class="text__l w--40 w-100-mobile">
                Lire un autre article
            </p>
            <div class="w--50 w-100-mobile flex col align--start justify--start gap--11">
                <h3>
                    Vous avez encore deux minutes ?
                </h3>
            </div>
        </div>
        <div class="grid grid--2 grid-gap--5 row grid--1-mobile">
            {% for post in posts %}
                <article class="flex col gap--5">
                    <a href="{{ path('app_show', {'slug': post.slug}) }}" class="relative">
                        {% if post.image is not empty %}
                            <img class="home__img home__img-post"
                                 src="{{ asset('uploads/posts/featured/') ~ post.image }}"
                                 alt="{{ post.name }}">
                        {% else %}
                            <div class="home__img home__img-case stroke-dark--bg"></div>
                        {% endif %}

                        <div class="absolute pos-t--4 pos-l--4 flex row col-mobile gap--2">
                            {% for tag in post.tag.toArray %}
                                <tag-react data-color="{{ tag.color }}" data-content="{{ tag.name }}"></tag-react>
                            {% endfor %}
                        </div>
                    </a>
                    <a href="{{ path('app_show', {'slug': post.slug}) }}" class="flex row col-mobile">
                        <div class="flex col gap--3">
                            <p class="text__l">
                                {{ post.name }}
                            </p>
                            <link-react data-border="1" data-href="{{ path('app_post', {slug: post.slug}) }}"
                                        data-content="Lire l'article"></link-react>
                        </div>
                    </a>
                </article>
            {% endfor %}
        </div>
    </section>

{% endblock %}



