{% extends 'base.html.twig' %}

{% block title %}
    {{ post.name }} - {{ parent() }}
{% endblock %}

{% block meta %}
    <meta name="description" content="Chaque projet est une histoire à part entière, reflétant notre passion pour le design et notre volonté de satisfaire nos clients. ">
    <meta property="og:title" content="{{ post.name }} - Studio Khi" />
    <meta property="og:description" content="Chaque projet est une histoire à part entière, reflétant notre passion pour le design et notre volonté de satisfaire nos clients. " />
    <meta property="og:url" content="https://studiokhi.com{{ path('app_post', {slug: post.slug}) }}" />
    {{ parent() }}
{% endblock %}

{% block body %}
    <section class="container__large border--bottom border-stroke-light">
        <div class="container flex col gap--16 gap-large-mobile align--start justify--start">
            <h1>{{ post.name }}</h1>
        </div>
    </section>
    <section class="container flex row col-mobile gap-small-mobile">
        <div class="flex col gap--11 text__l w--40 w-100-mobile">
            <div class="flex col gap--5">
                {% for tag in post.tag.toArray %}
                    <tag-react data-color="{{ tag.color }}" data-content="{{ tag.name }}"></tag-react>
                {% endfor %}
                <p class="text__m">Par {{ post.author|raw }}</p>
                <p class="text__m">{{ post.updatedAt|date("d/m/Y") }}</p>
            </div>
        </div>
        <div class="w--60 w-100-mobile flex col align--start justify--start gap--11 text__m">
            {{ post.content|raw }}
        </div>
    </section>
    <section class="container__large secondary-beige--bg">
        <div class="container flex row col-mobile align--end justify--space-between align--center-mobile gap-large-mobile">
            <h3 class="w--50 w-100-mobile text-center-mobile">Vous souhaitez travailler avec nous ?</h3>
            <div class="flex row col-mobile align--center justify--center gap--5">
                <button-react data-content="Commencer votre projet" data-href="#" data-color="light"></button-react>
                <button-react data-content="Prendre contact" data-href="#"></button-react>
            </div>
        </div>
    </section>
    <section class="container flex col gap--16 gap-large-mobile align--start justify--center">
        <div class="flex row col-mobile gap-small-mobile w--100">
            <p class="text__l w--40 w-100-mobile">
                Lire un autre article
            </p>
            <div class="w--50 w-100-mobile flex col align--start justify--start gap--11">
                <h3>
                    Vous avez encore deux minutes ?
                </h3>
            </div>
        </div>
        <div class="grid grid--2 grid-gap--5 row grid--1-mobile">
            {% for post in posts %}
                <article class="flex col gap--5 article {% for tag in post.tag.toArray %}{{ tag.slug }}{% endfor %}">
                    <a class="relative" href="{{ path('app_post', {slug: post.slug}) }}" aria-label="{{ post.name }}">
                        {% if post.image is not empty %}
                            <img class="home__img home__img-post" src="{{ asset('uploads/posts/featured/medium/') ~ post.image }}"
                                 alt="{{ post.name }}">
                        {% else %}
                            <div class="home__img home__img-post stroke-dark--bg"></div>
                        {% endif %}
                        <div class="absolute pos-t--4 pos-l--4 flex row col-mobile gap--2">
                            {% for tag in post.tag.toArray %}
                                <tag-react data-color="{{ tag.color }}" data-content="{{ tag.name }}"></tag-react>
                            {% endfor %}
                        </div>
                        <svg class="absolute pos-center" width="125" height="125" viewBox="0 0 125 125" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle id="Ellipse 1" cx="62.5" cy="62.5" r="62.5" fill="white"/>
                            <path id="Vector" d="M49.5 75.5L74.5 50.5" stroke="#191919" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path id="Vector_2" d="M54.1875 50.5H74.5V70.8125" stroke="#191919" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                    <a href="{{ path('app_post', {slug: post.slug}) }}" class="flex col gap--3">
                        <p class="text__l">
                            {{ post.name }}
                        </p>
                        <link-react data-href="{{ path('app_post', {slug: post.slug}) }}" data-border="1" data-content="Lire l'article"></link-react>
                    </a>
                </article>
            {% endfor %}
        </div>
    </section>

{% endblock %}



