{% extends 'base.html.twig' %}

{% block title %}
    Articles - {{ parent() }}
{% endblock %}

{% block meta %}
    <meta name="description" content="">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:locale" content="" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:description" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta property="og:image:secure_url" content="" />
    <meta property="og:image:width" content="" />
    <meta property="og:image:height" content="" />
    <meta property="og:site_name" content="" />
{% endblock %}

{% block body %}
    <div class="container flex col gap--16 gap-large-mobile align--start">
        <h1>Nos Réalisations</h1>
        <p class="w--60 w-100-mobile text__l align--self-end">
            Découvrez une série de projets sur lesquels nous avons travaillé, allant de la création d'identités
            visuelles à la conception de sites web. Chaque projet est une histoire à part entière, reflétant notre
            passion pour le design et notre volonté de satisfaire nos clients.
        </p>
    </div>
    <div class="container__large border--top border--bottom border-stroke-light">
        <div class="container container__scroll pt--11 pb--11 flex row align--center justify--center justify--start-mobile gap--5">
            <filter-react data-id="all" data-content="Tous les articles"></filter-react>
            {% for tag in tags %}
                <filter-react data-id="{{ tag.slug }}" data-content="{{ tag.name }}"></filter-react>
            {% endfor %}
        </div>
    </div>
    <section class="container flex col gap--16 gap-large-mobile align--start justify--center">
        <div class="grid grid--2 grid-gap--5 row grid--1-mobile">
            {% for post in posts %}
                <article class="flex col gap--5 {% for tag in post.tag.toArray %} {{ tag.slug }} {% endfor %}">
                    <div class="relative">
                        <img class="home__img home__img-post" src="{{ asset('uploads/posts/featured/') ~ post.image }}"
                             alt="">
                        <div class="absolute pos-t--4 pos-l--4 flex row col-mobile gap--2">
                            {% for tag in post.tag.toArray %}
                                <tag-react data-color="{{ tag.color }}" data-content="{{ tag.name }}"></tag-react>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="flex col gap--3">
                        <p class="text__l">
                            {{ post.name }}
                        </p>
                        <link-react data-border="1" data-href="{{ path('app_post', {slug: post.slug}) }}" data-content="Lire l'article"></link-react>
                    </div>
                </article>
            {% endfor %}
        </div>
{#        <div class="w--100 flex row justify--center">
            <button-react data-color="light" data-content="Charger plus de projets"></button-react>
        </div>#}
    </section>

{% endblock %}
