{% extends 'base.html.twig' %}

{% block title %}
    Nos Réalisations - {{ parent() }}
{% endblock %}

{% block meta %}
    <meta name="description" content="Découvrez une série de projets sur lesquels nous avons travaillé, allant de la création d'identités visuelles à la conception de sites web.">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:title" content="Réalisations - Studio Khi" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Découvrez une série de projets sur lesquels nous avons travaillé, allant de la création d'identités visuelles à la conception de sites web." />
    <meta property="og:url" content="https://studiokhi.com{{ path('app_projects') }}" />
    <meta property="og:image" content="{{ asset('build/images/logos/apple-icon.svg') }}" />
    <meta property="og:image:secure_url" content="{{ asset('build/images/logos/apple-icon.svg') }}" />
    <meta property="og:image:width" content="152" />
    <meta property="og:image:height" content="152" />
    <meta property="og:site_name" content="Studio Khi" />
{% endblock %}

{% block body %}
    <div class="container flex col gap--16 gap-large-mobile align--start">
        <h1>Nos Réalisations</h1>
        <p class="w--60 w-100-mobile text__l align--self-end">
            Découvrez une série de projets sur lesquels nous avons travaillé, allant de la création d'identités
            visuelles à la conception de sites web. Chaque projet est une histoire à part entière, reflétant notre
            passion pour le design et notre volonté de satisfaire nos clients.
        </p>
    </div>
    <div class="container__large border--top border--bottom border-stroke-light">
        <div class="container container__scroll pt--11 pb--11 flex row align--center justify--center justify--start-mobile gap--5">
            <filter-react data-id="all" data-content="Tous les projets"></filter-react>
            {% for tag in tags %}
                <filter-react data-id="{{ tag.slug }}" data-content="{{ tag.name }}"></filter-react>
            {% endfor %}
        </div>
    </div>
    <div class="container flex col gap--16 gap-large-mobile align--start justify--center">
        <div class="grid grid--2 grid-gap--5 row grid--1-mobile">
            {% for key, project in projects %}
                <article
                        class="flex col gap--5 mb--16 {% for tag in project.tag.toArray %} {{ tag.slug }} {% endfor %}">
                    <a href="{{ path('app_show', {'slug': project.slug}) }}" class="relative">
                        <img class="home__img home__img-post"
                             src="{{ asset('uploads/projects/featured/') ~ project.image }}"
                             alt="">
                        <div class="absolute pos-t--4 pos-l--4 flex row col-mobile gap--2">
                            {% for tag in project.tag.toArray %}
                                <tag-react data-color="{{ tag.color }}" data-content="{{ tag.name }}"></tag-react>
                            {% endfor %}
                        </div>
                    </a>
                    <a href="{{ path('app_show', {'slug': project.slug}) }}" class="flex col gap--3">
                        <p class="text__l">
                            {{ project.name }}
                        </p>
                        <div class="flex col align--start justify--start gap--11">
                            <p class="primary-grey text__m">
                                {{ project.excerpt }}
                            </p>
                        </div>
                    </a>
                </article>
            {% endfor %}
        </div>
        {# <div class="w--100 flex row justify--center">
            <button-react data-color="light" data-content="Charger plus de projets"></button-react>
        </div> #}
    </div>

{% endblock %}
