<div id="form" class="container flex row col-mobile gap--8 align--start justify--start">
    {{ form_start(form, {'attr': {'class': 'w--100 flex col gap--8'}}) }}
    <div class="grid grid--2 grid--1-mobile grid-gap--4 w--100">
        <div class="flex col gap--4">
            <div class="flex col gap--1">
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
                <div class="errors">
                    {{ form_errors(form.name) }}
                </div>
            </div>
            <div class="flex col gap--1">
                {{ form_label(form.subtitle) }}
                {{ form_widget(form.subtitle) }}
                <div class="errors">
                    {{ form_errors(form.subtitle) }}
                </div>
            </div>
        </div>
        <div class="flex col gap--4">
            <div class="flex col gap--1">
                {{ form_label(form.description) }}
                {{ form_widget(form.description) }}
                <div class="errors">
                    {{ form_errors(form.description) }}
                </div>
            </div>
        </div>
    </div>
    {{ form_widget(form.save) }}
    {{ form_end(form) }}
</div>
<div class="container__large secondary-beige--bg">
    <div class="container flex col align--center justify--center gap--11 text-center">
        <button-react data-href="{{ path('app_admin_review') }}" data-content="Retour"></button-react>
    </div>
</div>