<div id="form" class="container flex row col-mobile gap--8 align--start justify--start">
    {{ form_start(form, {'attr': {'class': 'w--100 flex col gap--8'}}) }}
    <div class="flex col gap--1">
        {{ form_label(form.slug) }}
        {{ form_widget(form.slug) }}
        <div class="errors">
            {{ form_errors(form.slug) }}
        </div>
    </div>
    <div class="flex col gap--1">
        <div class="flex col gap--1">
            <label class="form-label">Image à la une</label>
            {{ form_label(form.image) }}
            {{ form_widget(form.image) }}
            <div class="errors">
                {{ form_errors(form.image) }}
            </div>
        </div>
    </div>
    <div class="flex col gap--1">
        {{ form_label(form.is_homepage) }}
        <div class="form-check">
        {{ form_widget(form.is_homepage) }}
        <label></label>
        </div>
        <div class="errors">
            {{ form_errors(form.is_homepage) }}
        </div>
    </div>
    <div class="flex col gap--1">
        {{ form_label(form.tag) }}
        {{ form_widget(form.tag) }}
        <div class="errors">
            {{ form_errors(form.tag) }}
        </div>
    </div>
    <div class="grid grid--2 grid--1-mobile grid-gap--4 w--100">
        <div class="flex col gap--4">
            <div class="flex col gap--1">
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
                <div class="errors">
                    {{ form_errors(form.name) }}
                </div>
            </div>
            <div class="flex col gap--1">
                {{ form_label(form.excerpt) }}
                {{ form_widget(form.excerpt) }}
                <div class="errors">
                    {{ form_errors(form.excerpt) }}
                </div>
            </div>
        </div>
        <div class="flex col gap--4">
            <div class="flex col gap--1">
                {{ form_label(form.title) }}
                {{ form_widget(form.title) }}
                <div class="errors">
                    {{ form_errors(form.title) }}
                </div>
            </div>
            <div class="flex col gap--1">
                {{ form_label(form.description) }}
                {{ form_widget(form.description) }}
                <div class="errors">
                    {{ form_errors(form.description) }}
                </div>
            </div>
        </div>
        <div class="flex col gap--4">
            <div class="flex col gap--1">
                {{ form_label(form.type) }}
                {{ form_widget(form.type) }}
                <div class="errors">
                    {{ form_errors(form.type) }}
                </div>
            </div>
            <div class="flex col gap--1">
                {{ form_label(form.category) }}
                {{ form_widget(form.category) }}
                <div class="errors">
                    {{ form_errors(form.category) }}
                </div>
            </div>
        </div>
        <div class="flex col gap--4">
            <div class="flex col gap--1">
                {{ form_label(form.date) }}
                {{ form_widget(form.date) }}
                <div class="errors">
                    {{ form_errors(form.date) }}
                </div>
            </div>
            <div class="flex col gap--1">
                {{ form_label(form.url) }}
                {{ form_widget(form.url) }}
                <div class="errors">
                    {{ form_errors(form.url) }}
                </div>
            </div>
        </div>
    </div>
    <div class="flex col gap--1">
        <label class="form-label">Galerie d'images</label>
        {{ form_label(form.images) }}
        {{ form_widget(form.images) }}
        <div class="errors">
            {{ form_errors(form.images) }}
        </div>
    </div>
    {{ form_widget(form.save) }}
    {{ form_end(form) }}
    <div class="flex col gap--8">
        {% if project is defined and project.image != null %}
            <div class="flex col gap--4">
                <p class="text__s">Image à la une</p>
                <div class="relative w-fit-content">
                    <form class="btn__delete" action="{{ path('app_admin_project_image_delete', {id: project.id}) }}#form"
                          method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit">x</button>
                    </form>
                    <img width="{{ width }}" height="{{ height }}"
                         src="{{ asset('uploads/projects/featured/thumbnails/') ~ width ~ 'x' ~ height ~ '-' ~ project.image }}"
                         alt="">
                </div>
            </div>
        {% endif %}
        <div class="flex col gap--4">
            {% if project is defined and project.images.toArray is not empty %}
                <p class="text__s">Galerie d'images</p>
                <div class="grid grid--2 grid-gap--4">
                    {% for image in project.images.toArray|sort((a, b) => a.issue <=> b.issue) %}
                        <div class="relative w-fit-content">
                            <form class="btn__delete"
                                  action="{{ path('app_admin_project_images_delete', {id: image.id}) }}#form" method="POST">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit">x</button>
                            </form>
                            {% if image.issue != 1 %}
                                <form class="btn__prev"
                                      action="{{ path('app_admin_project_images_prev', {id: image.id}) }}#form" method="POST">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button type="submit"> <</button>
                                </form>
                            {% endif %}
                            {% if image.issue != project.images.toArray|length %}
                                <form class="btn__next"
                                      action="{{ path('app_admin_project_images_next', {id: image.id}) }}#form" method="POST">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button type="submit"> ></button>
                                </form>
                            {% endif %}
                            <img width="{{ width }}" height="{{ height }}"
                                 src="{{ asset('uploads/projects/gallery/thumbnails/') ~ width ~ 'x' ~ height ~ '-' ~ image.name }}"
                                 alt="">
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
<div class="container__large secondary-beige--bg">
    <div class="container flex col align--center justify--center gap--11 text-center">
        <button-react data-href="{{ path('app_admin_project_index') }}" data-content="Retour"></button-react>
    </div>
</div>